@font-face {
  font-family: "iconfont"; /* Project id 4570106 */
  src: url('iconfont.woff2?t=1717222525265') format('woff2'),
       url('iconfont.woff?t=1717222525265') format('woff'),
       url('iconfont.ttf?t=1717222525265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e60d";
}

.icon-jian:before {
  content: "\e60e";
}

.icon-gouwucheman:before {
  content: "\e600";
}

